.box-area{
    width: 625px;
    height: 600px;
    border:3px solid black;
    margin-top: 60px;
    margin-left: 220px;
    display:grid;
    grid-template-columns:auto auto auto;  
}

.boxes{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 20%;
  margin-left: 30px;
  margin-top: 30px;
  background-color: beige;
}
.box{
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    color: black;   
}
.alert{
  font-size: 70px;
  text-align: center;
  border: 1px solid red;
  font-family: monospace;
  
}
.animation{
  background-color: green;
  transition: 1.5s;
}  
body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/849/461/original/soft-flat-abstract-shape-background-free-vector.jpg");
}
.footer{
  font-size: 80px;
  font-family:monospace;
  margin-left: 300px;
  border: 2px dashed black;
  border-radius: 10px;
  color: orangered;
  
}